
.game-title{
  text-align: center;
  color: blueviolet;
  font-size: 40px;
  position: relative;

}
.board{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.squre{
  border: 3px green solid;
  height: 200px;
  width:200px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
.squre-row{
  display: flex;
  flex-direction: row;
}

.winner{
  margin-bottom: 30px;
  color: red;
  font-size: 20px;
  position: absolute;
  top: 60px;
}
.play-again{
  margin-left: 20px;
}
.history{
  position: absolute;
  top: 120px;
  right: 100px
}

